<h1>Hey Weka peep! Enter your details here:</h1>

<div>
  <form class="new_contact" id="new_contact" action="/wekaNumbers" accept-charset="UTF-8" method="post">
    <p>
      <input placeholder="Name" type="text" name="name" id="weka_name" /><br><br>
      <input placeholder="Phone" type="text" name="phone" id="weka_phone" /><br><br>
      <input type="submit" name="commit" value="Create New Contact Details" />
    </p>
  </form>
</div>

<p><a class="link" href="/wekaNumbers">Go Home</a></p>
