
<h1 class="title">Weka Cohort Phone Numbers - Index page</h1>
<nav>
  <a class="link" href="/index/form">Enter a new Weka contact</a>
</nav>


<ul>
 {{#each contacts}}
  <li>{{this.name}}</li>
 {{/each}}
</ul>
